<section class="container">
  <mat-card>
    <div class="camposContainer">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Quantidade</mat-label>
        <input
          matInput
          placeholder="Digite a Quantidade"
          [(ngModel)]="transacao.Quantidade"
          type="text"
          prefix="R$ "
          mask="separator.2"
          [thousandSeparator]="'.'"
          [decimalMarker]="','"
          [dropSpecialCharacters]="false"
        >
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Numero da Conta</mat-label>
        <input
          matInput
          placeholder="Digite o Numero da Conta"
          [(ngModel)]="transacao.ContaDestino"
          mask="0000-0"
          [dropSpecialCharacters]="false"
        >
      </mat-form-field>
    </div>
    <div class="botoesContainer">
      <button (click)="salvarTransacao()" mat-stroked-button color="primary" style="color:white"><fa-icon style="color: green;" [icon]="faCheck"></fa-icon> Concluir</button>
      <button (click)="cancelar()" mat-stroked-button style="color:white"><fa-icon style="color: red;" [icon]="faXmark"></fa-icon> Cancelar</button>
    </div>
  </mat-card>
</section>
