.header{
  background-color: green;
}

.botao-login{
  margin-left: auto;
}

.lista{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  list-style: none;
  gap: 3rem;
  height: 5rem;
}

.itemLista{
  color: whitesmoke;
}


.botao{
  color: whitesmoke;
  cursor: pointer;
  height: 80px;
  font-size: large;
}

ul{
  margin: 0px !important;
}

mat-tab{
  color: white;
}
