.titulo{
  color: #673ab7;
}

.cardLogin{
  min-width: 15vw;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #673ab7;
}

.conteudo-login{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.input{
  color:black;
}

.cabecalho{
  display: none;
}

.rodape{
  display: none;
}
