/* You can add global styles to this file, and also import other style files */
body{
  margin: 0px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-dialog-container{
  padding: 0px !important;
}

.erro-snackbar {
  background-color: whitesmoke;
  border: 1px solid red;
  color: #673ab7;
  white-space: pre-wrap;
}

.erro-snackbar button{
  background-color: whitesmoke;
  color: red;
}

.sucesso-snackbar {
  background-color: whitesmoke;
  border: 1px solid #673ab7;
  color: #673ab7;
  white-space: pre-wrap;
}

.sucesso-snackbar button{
  background-color: whitesmoke;
  color: #673ab7;
}
